---
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
tags: posts
permalink: blog/{{ pagination.pageNumber }}-{{ post.data.slug }}/
templateEngineOverride: md, pug
eleventyComputed:
  id: post.data.id
  body: post.body
  title: post.data.title
  slug: post.data.slug
  date: post.data.date
---
extends _includes/base.pug

block scripts
  title #{post.data.title} | adc.pe
  link(rel='stylesheet', href=`${filters.relativePath(page)}assets/css/post.css`)
  link(rel='stylesheet', href=`${filters.relativePath(page)}assets/prism/prism.css`)

  meta(property='og:title' content=`${post.data.title} | adc.pe`)
  meta(property='og:site_name' content=`${post.data.title} | adc.pe`)
  meta(property='og:description' content=post.data.excerpt)
  meta(property='og:type' content='website')
  meta(property='og:url' content=`https://adc.pe/blog/${post.data.id}-${post.data.slug}/`)
  //- meta(property='og:image' content='[image]')
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='@adcpe_')
  meta(name='twitter:creator' content='@adcpe_')

block body
  section.post
    h1.font-alt.title= post.data.title
    small.font-alt.subtitle= post.data.date
    div!= post.body

  script(src=`${filters.relativePath(page)}assets/prism/prism.js`)
